@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<byu-header>
    <span slot="site-title"><a asp-controller="Home" asp-action="Index">Excavations</a></span>
    <span slot="site-title" class="subtitle">Egypt</span>

    <byu-menu slot="nav" collapsed>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="BurialCrud" asp-action="Index">Burials</a>
        <a asp-area="" asp-controller="BioSampleCrud" asp-action="FullTableDisplay">Biological Samples</a>
        <a asp-area="" asp-controller="CarbonDatingCrud" asp-action="FullTableDisplay">Carbon Dating</a>
        <a asp-area="" asp-controller="CranialCrud" asp-action="FullTableDisplay">Cranial Data</a>
        <a asp-area="" asp-controller="FieldNotesCrud" asp-action="FullTableDisplay">Field Notes</a>

        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
        {
            <a asp-area="" asp-controller="BurialCrud" asp-action="Create">Add a Burial</a>
            <a asp-page="/Users/List">All Users</a>
            <a asp-page="/Roles/List">List Roles</a>

        }

        else if ((await AuthorizationService.AuthorizeAsync(User, "RequireResearcherRole")).Succeeded)
        {
            <a asp-area="" asp-controller="BurialCrud" asp-action="Create">Add a Burial</a>
        }

    </byu-menu>

    <byu-search slot="search">
        <form asp-controller="BurialCrud" asp-action="Display" method="get">
            <input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" />
        </form>
    </byu-search>

    <byu-user-info slot="user">
        <a slot="login" asp-area="Identity" asp-action="GoogleLogin" asp-controller="Google">Login</a>
        <a slot="logout" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        <span slot="user-name">@User.Identity.Name</span>
    </byu-user-info>

</byu-header>
