@{
    ViewData["Title"] = "Home Page";
}

<!-- Landing page that intoduces website, with links to everything else. -->

<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->

            <div class="carousel-item active" style="filter: Brightness(50%); background-image: url('https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/DSCN3977.JPG')">
                
                <div style=""></div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item mask" style=" filter: Brightness(50%);
            background-image: url('https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/IMG_0431.JPG')">

            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item mask" style="filter: Brightness(50%); background-image: url('https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/65-front.JPG')">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <!-- Jumbotron Header -->

    <header class="container centered">



        <div class="row text-light">

            <h1 class="display-1">Fag el-Gamous</h1>

            <br />



            <p class="lead">
                For over 25 years, Fag el-Gamous (Way of the Water Buffalo) has helped reveal secrets of ancient Egypt.
                The cemetery has been excavated primarily by BYU researchers, but this site offers the data
                they have gathered for public use. Their hope is to further the research of this sacred site and
                provide useful data for others!
            </p>

        </div>

    </header>




</div>


<script type="text/javascript">});</script>
<!-- /.container -->
