@page

<!-- Returns an access denied, prompts user to logout and back in with the right credentials -->

<h4 class="bg-danger text-white text-center p-2">Access Denied</h4>
<div class="m-2">
    <h4 class="text-center"><i>You are not authorized for this URL</i></h4>
    <a class="btn btn-outline-danger" href="/">OK</a>
    <a class="btn btn-outline-secondary" asp-page="Login">Login if you aren't!</a>
</div>