@page
@model LogoutModel
<div class="p-2"><h2><i>Log Out</i></h2></div>
<div class="m-2">
    <h4><b>You are logged out</b></h4>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">OK</a>
</div>

@functions {
    public class LogoutModel : PageModel
    {
        private SignInManager<IdentityUser> signInManager;
        public LogoutModel(SignInManager<IdentityUser> signInMgr)
        {
            signInManager = signInMgr;
        }
        public async Task OnGetAsync()
        {
            await signInManager.SignOutAsync();
        }
    }
}