@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="m-4 p-4">
<h2 class="display-2 text-center">Burial Record Not Found</h2>

<p>Unfortunately, the resource you are trying to access does not exist.
    This could be because the BurialId was entered incorrectly or because
    the database has incomplete or partial information. We apologize for
    any inconvenience this may cause. </p>

</div>
    
